<div class="modal fade" tabindex="-1" id="shopping_cart_modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="text text-success"><i class='fa fa-check-circle-o'></i> Added</h4>

        <div class="media">
        <%if !@product.blank? && @product.product_image.representable?%>
          <div class="media-left">
              
            <a href="javascript:;">
        
              <%= image_tag @product.product_image, class: 'media-object', alt: @product.title %>
            </a>
         
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= @product.title %></h4>
            Amount: <%= @shopping_cart.amount %>
          </div>
        <%end%>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Continue shopping</button>
        <%= link_to "Check out", shopping_carts_path, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>

