<h1>Admin::Sessions#new</h1>
<p>Sorry for not providing authorization of admin account here</p>
<p>The problem is I can not change the role attribute of user model!!</p>
<p>That is a weird problem for me and even I tried several days and consult with </p>
<p>my educator and still get unfixed, without that attribute I can't design the authority of account </p>

